.header__nav {
	margin-left: auto;
	padding: 0px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin-bottom: -4px;
}

.header__nav__icon {
	color: rgba(0,0,0,.75);
	transition: all .5s ease;
}

.header__nav__icon i {
	font-size: 1.4rem;
}

.material-icons.loading {
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}

.material-icons.vertical {
	transform: rotate(0deg);
	animation-name: rotateSvgBack;
	animation-duration: .5s;
}

@keyframes rotateSvgBack {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.material-icons.horizontal {
	animation-name: rotateSvg;
	animation-duration: .5s;
	transform: rotate(90deg);
}

@keyframes rotateSvg {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

.header__nav__icon:hover {
	color: rgba(0,0,0,.5);
}

@media only screen and (min-width: 600px) {
  .header__nav {
    display: none;
  }
}
