.home {
	align-items: center;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-basis: 100;
  flex-flow: column nowrap;
  background-color: rgba(246,236,224,.25);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.home__header {
	color: rgba(0,0,0,.7);
	text-align: center;
	font-size: 1.2rem;
	font-family: 'Optima LT W01 Bold', serif;
	max-width: 28rem;
}

.home--top {
	min-height: 0rem;
	background-color: rgba(10,80,120,1);
	color: rgba(255,255,255,.87);
	-webkit-animation: fadein 4s; /* Safari and Chrome */
	-moz-animation: fadein 4s; /* Firefox */
	-ms-animation: fadein 4s; /* Internet Explorer */
	-o-animation: fadein 4s; /* Opera */
	animation: fadein 4s;
}

.home__header--top {
	color: rgba(255,255,255,.7);
}

.home__copy {
	margin-top: 1rem;
	max-width: 28rem;
}

.home__cta {
	margin-top: 2rem;
	text-align: center;
}

.button {
	padding: .5rem 1rem .5rem 1rem;
	transition: all 1s ease;
	font-family: 'Optima LT W01 Bold', serif;
}

.button--home {
	color: rgb(246,236,224);
}

.button--home:hover {
	color: rgba(246,236,224,.75);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
