.hero {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-basis: 100;
  flex-flow: column nowrap;
  background-color: rgba(246,236,224,.25);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 0 0 0 0;
}

.hero--approach {
	background:
	linear-gradient(
    rgba(110,120,70,.25),
    rgba(110,120,70,.25),
    rgba(110,120,70,.4),
    rgba(110,120,70,1)
    ),
	url('./img/ben_approach.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: center;
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -moz-animation: fadein 4s; /* Firefox */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera */
  animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
