.menu {
  padding: 50px 15px;
}

.menu__footer {
  margin-top: 75px;
}

.menu.open {
  width: 100%;
  height: 100%;
  background-color: rgb(10,80,120);
  color: white;
  position: fixed;
  top: 42px;
  bottom: 0;
  z-index: 1;
  overflow-y: scroll;
  -webkit-animation: slidein .75s 1 forwards;
  animation: slidein .75s 1 forwards;
}

.menu.closed {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(10,80,120);
  color: white;
  top: 42px;
  bottom: 0;
  z-index: 1;
  overflow-y: scroll;
  -webkit-animation: slideout .75s 1 forwards;
  animation: slideout .75s 1 forwards;
}

#index.fixed {
  overflow: hidden;
  position: fixed;
}

#index.scroll {
  /*overflow: hidden;*/
  /*position: fixed;*/
}

.menu a {
  color: rgba(255,255,255,.87);
}

.menu__links__email {
    font-size: .8rem;
    color: rgba(255,255,255,.5);
}

.menu__links__link {
    color: rgba(255,255,255,.87);
    font-family: 'Optima LT W01 Bold', serif;
}

/*
on click, add class 'open' (left 0), add class 'close' (left: 100%)
*/

@keyframes slidein {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes slideout {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
